/* common coad start*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none ;
  text-decoration: none;
  user-select: none;
}
 html{
  scroll-behavior: smooth;
  width:100%;
}

.img{
  width:90%;
  height:290px;
}
nav{
width:100%;
text-align: center ;

  }


.center{
  
  display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}





/* common coad end*/
  /*nav start */

  header{
width:100%;
text-align: center ;

  }
.nav-icon{
  background-color: #82B7DDD9;
  font-size: 40px;
}
  .nav-icon:hover {
    color:white;
    transform: scale(1.1);
    
  }
  

  .upper-nav{
    
    background-color: #5350D5;
    width: 100%;
   
    
  }
  
  .upper-nav ul{
padding-top:20px; 
width:70%;
  display: inline-flex;
  flex-direction: column;
  
  
  }

.upper-nav ul li {
  padding: 10px;
  
  
}







.upper-nav ul li a{
  color :white;
 width :70%;
 
}





  .upper-nav ul li:hover {
  border: 2px solid;
  border-radius: 20px;
  
  color: black;
 
 
}
  
  .image-nav{
    height:90px;
    width: 90px;
    border: 2px solid white;
    border-radius: 50%;
   
  }
    .image-nav:hover{
     
    border :5px solid white;
      border-radius: 50%;
      color : black;
    }
  #upper{
    width:100%;
  display: none;
  }
  /* lower nav start*/
  .lowwer-nav {
    background-color: #A269E7ED;
  }
  
  .lower-head{
    font-size: 30px; 
    color:black;
  }
  .cart {
    font-size: 40px;
  }
  
  
  /* end lower*/
  /*nav end */
  
  /*header start */
  
  .header{
    background-image: url("/image/ben-arthur-Q9Ylf-AAD04-unsplash.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
   background-repeat: no-repeat;
    color:white;
    height:70vh;
    padding-top: 10%;
    
  }
  .icon-header{
    background-color: #677ACF;
    margin:5%;
    width:50%;
    height:80px;
    text-align: center;
    padding-top:5%;
    font-size: 20px;
    border-radius: 100px;
  }
  .marque-section{
    color :green;
    
    font-size: 25px;
  }
  .icon-vitor{
    color:red;
  }
  
  
  /*header end */
  
  /*main start*/
.main{
  height: auto;
}

  
  .items{
   background-color: antiquewhite;
    display: flex;
    justify-content: center ;
    align-items: center;
  }
  
  .items ul li {
    padding-top:10px;
  }
  
  
  
  .categories{
   margin: 20px;
  }
  .Price{
margin: 20px;
  }
  .hr{
    border:2px solid; 
    
  }
  /* actions bars*/
  .second-main{

  }
  
  #sort-search{
display : flex;
margin:5%;
  }
  .sort{
    
  }
  
  #search{
    height: 22px;
    width :130px;
    margin-left: 6%;
    
    
  }
  
.search{
    display :flex;
  }
  
  /* main two products images*/
  .product-image{
   position :relative;
    height: 100%;
    width: 100%; 
    background-color: floralwhite;
    
  }
  .span{
    
  position : absolute;
    margin-left:8% ;
    margin-top: 5%;
   z-index: 1;
    
  }
  
  span{
    background-color: green;
  }
  .three-sold{
    border-top: 1px solid ;
    
  }
  
  
  .shadow{
    height:auto;
   margin: 8%;
    width: 85%;
    box-shadow: 12px 12px 10px black;
    background-color: gray;
    border-radius: 20px;
  }

.shadow:hover {
  background-color: #86ABD3EB;
}



    
  .product-des{
    text-align: center ;
  }
  .product-img{
    margin-top: 30px;
    height :250px;
    width :250px;
    margin-left:10%;
   filter: saturate(0%);
   
  }
    .product-img:hover {
    
    
   filter: saturate(200%);
  }
  
  
  
  .product-p{
    color: red;
  }
  .product-btn{
    border :none;
    background-color: black ;
    color:white;
  }
  .product-btn:hover{
    
    
    color: green;
  }
  
  /*pagination start*/
  
  .pagination{
    text-align: center;
    margin-bottom: 10px;
    
  }
  
   .btn{
     
    height:20px;
    width: 30px;
    margin-left: -5px;
  }
  
   .btn:hover{
       font-size: 17px;
       
     }
  
  
  /*pagination end*/
  /* details page*/
 
  .shad{ 
    width: 100%;
    height:80vh;
   
  }
  
  .details-img{
    margin-left: 15%;
  }
.pro-des{
  text-align: center;
  padding: 10px;
}
  /*main end*/
  
  /* cart page design start*/
  
  .cartpage{
    margin-top: 5%;
    
   width:90%;
   margin-left: 5%;
   text-align: center ;
   height: auto;
   padding-bottom:10px;
  }
  
 
  
  .cartpage-head{
    background-color: whitesmoke;
    width :90%;
   margin-left: 5%;
   border-radius: 20px;
   padding: 10px;
   box-shadow: 1px 2px 10px black;
   
   
  }
  .cartpage-head-imge-des{
    margin-top: 10px;
    background-color: whitesmoke;
    padding:10px;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
  }
  .cartpage-h{
    font-weight: bold ;
  }
  .cartpage-price{
    color:red;
  }
  .cartpage-imgae-low{
    padding :5px;
  }
  
.cartpage-imgae-low span{
  background-color: white;
  color :black;
}
  .cartpage-imgae-low button{
    width:15px;
  }
  
  
  
  .payment-sector {
    margin-bottom:10px;
  }  
  
.payment-des{
  width :90%;
  margin-left: 5%;
}


  
  .payment-des > h2{
    color: red;
    text-align: center ;
    padding-bottom: 15px
  }
  .payment-des > div{
    display: flex ;
   justify-content: space-between;
    
  }
  
  
  .payment-method{
    width: 90%;
    margin-left:5%;
    text-align: center;
    margin-bottom: 30px;
    
  }
     .visa{
      padding:10px;
      font-size: 40px;
    }
    
     .visa:hover{
      color: green;
    }
    
    
  
  /* cart page design end*/
  /*registration page start*/
  
  .registration{
    width: 90%;
    margin: 5% ;
    box-shadow: 1px 1px 10px black;
    height :71vh;
    padding-top:40px;
    
    border-radius: 20px;
  }
  .registration h2{
    text-align: center ;
  }
  
  
  .registration-card button{
    background-color: green;
    height:30px;
    width: 100px;
    margin-top: 10px;
    margin-left: 40%;
    }
    
    
.registration-input {
  display: flex;
  flex-direction: column ;
  
}
  
#registration-input {
  display: flex ;
  justify-content: space-between;
  padding:5px;
flex:1;
  }
#registration-input label {

flex:0.3;

}
#registration-input input{
 
  flex:0.7;
}   

  
  
  
  
  
  /*registration page end*/
 
 /*profile page*/
 .profile-section{
   height :71vh;
   width :80%;
   margin: 10%;
   
   box-shadow: 2px 2px 10px black;
   display: flex ;
   flex-direction: column;
   justify-content: center ;
   align-items: center;
  
   border-radius: 20px;
 }
 .profile-img{
   height: 100px;
   width :100px;
   border-radius: 50%;
   
 }


  /*footer start*/
  .footer{
    text-align: center ;
      background-color: #82B7DDD9;
      padding-top:20px;
  }
  .footer-section{
    
  }
  .footer-input{
    width:60%;
    
  }
  .footer-btn{
    background-color: whitesmoke;
    width:20%;
    border: none;
    height:19px;
    margin-left:-10%;
    padding-right:2px;
    
  }
  
    .footer-btn:hover{
    background-color: black;
    color:white;
    
  }
  
 
 
 

  /* footer end*/
